<h1>Personajes cargados</h1>
<a href="{% url 'pj:carga_personaje' %}">Agregar personaje</a>
<ul>
    {% if personajes_list %}
        {% for personaje in personajes_list %}
        <div class="card-personaje">
            <h3>Alias: {{ personaje.alias }}</h3>
            <h4>Casa: {{ personaje.casa }}</h4>
            <img src="{{ personaje.foto.url }}" alt="Img" width="250"/>
            <a href="{% url 'pj:personaje_delete' personaje.id %}">Eliminar</a>
        </div>
        {% endfor %}
    {% else %}
        <h1>No existen personajes cargados!</h1>
    {% endif %}
</ul>